@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: big_noodle_titling;
    src: url("./big_noodle_titling.ttf");
}

@font-face {
    font-family: arial_black;
    src: url("./Arial Black.ttf");
}

.marquee3k__copy {
    padding-right: 30px;
    box-sizing: border-box;
}

/* the background color of the filepond drop area */
.filepond--panel-root {
    @apply bg-gray-200;
    @apply border-2;
}

.mySwiper .swiper-slide-thumb-active {
    @apply border-2 border-bip-orange-400;
}
